body {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-default {
    background: rgba(255, 255, 255, .1);
    border-color: rgba(0, 0, 0, .1);

    .navbar-brand {
        color: #FFFFFF;

        img {
            width: 20px;
            display: inline-block;
            vertical-align: bottom;
            margin-right: 15px;
        }

        &:hover {
            span {
                color: #FFFFFF;
                opacity: .8;
            }
        }
    }
}

#content {
    padding-top: 24px;
}

#searchMovie {
    input[type="text"] {
        height: 48px;
        background: rgba(255, 255, 255, .1);
        border: none;
        color: #FFFFFF;
    }
}