extends layout.jade

block content
    #content
        .container
            .row
                .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
                    form#searchMovie
                        input.form-control(type="text", placeholder="Find Movies, TV shows ...", name="query")
            .row
                #results