doctype html
html(lang='en')
    head
        title= title
        link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='styles/style.css')
    body
        nav.navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    a.navbar-brand(href='#') What the hell am I watching?